#header{
	background-color: #678eba;
	color: white;
	padding: 5px;
	width: 350px;
}
#title{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
#subtitle{
	text-align: right;
	font-size: 12px;
}
#homepage{
	height: 300px;
	text-align: center;
}

#homepage #signup_btn, #homepage #login_btn{
	color: white;
	background-color: #678eba;
	font-variant: small-caps;
	width: 250px;
	height: 50px;
	padding: 5px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}
#homepage #signup_btn{
	margin-top: 22%;
}
#homepage #login_btn{
	margin-top: 8%;
}

#footer{
	font-size: 12px;
	background-color: #544c51;
	color: white;
	text-align: center;
	padding: 3px;
}

#signup_page{
	display: none;
	height: 300px;
	text-align: center;
}
#signup_page #username, #signup_page #email, #signup_page #password, #signup_page #confirm_password, #signup_page #submit_signup_btn{
	font-size: 20px;
	width: 250px;
}
#signup_page #username{
	margin-top: 10%;
}
#signup_page #email, #signup_page #password, #signup_page #confirm_password, #signup_page #submit_signup_btn{
	margin-top: 3%;
}
#signup_page #submit_signup_btn{
	color: white;
	background-color: #678eba;
	font-variant: small-caps;
	padding: 5px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}

#login_page{
	display: none;
	height: 300px;
	text-align: center;
}
#login_page #email, #login_page #password, #login_page #submit_login_btn{
	font-size: 20px;
	width: 250px;
}
#login_page #email{
	margin-top: 20%;
}
#login_page #password, #login_page #submit_login_btn{
	margin-top: 3%;
}
#login_page #submit_login_btn{
	color: white;
	background-color: #678eba;
	font-variant: small-caps;
	padding: 5px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}
#error{
	color: red;
	font-size: 13px;
	text-align: center;
	margin-bottom: 20px;
}
#success{
	color: green;
	font-size: 13px;
	text-align: center;
	margin-bottom: 15px;
}

#main_page{
	display: none;
	height: 300px;
}
#navbar{
	background-color: #678eba;
	color: white;
	cursor: pointer;
	width: 350px;
	padding: 5px;
	height: 20px;
}
#upload_section_btn{
	float: left;
	cursor: pointer;
	text-align: center;
}
#friend_section_btn{
	float: right;
	cursor: pointer;
	text-align: center;
}
#logout_btn{
	float: right;
	cursor: pointer;
	text-align: center;	
	margin-right: 50px;
}
/*
change upload -> friend after development
*/
#upload_section{
	display: none;
}
#search_container{
	margin-top: 20px;
}
#add_friend_header{
	font-size: 15px;
}
#search_query{
	width: 250px;
	font-size: 15px;
}
#go_btn{
	width: 100px;
	font-size: 15px;
	cursor: pointer;
}
#friend_list_header{
	font-size: 16px;
	text-align: center;
	color: white;
	background-color: #544c51;
	width: 100%;
	height: 20px;
	padding: 1px;
	margin-top: 20px;
	font-weight: bolder;
}
#friend_list{
	width: 100%;
	border: 1px solid black;
	margin-top: 3px;
	height: 210px;
	overflow-y: auto;
}
#friend_email{
	float: left;
}
.friend_request_btn{
	color: red;
	float: right;
	padding: 5px;
	background-color: green;
	cursor: pointer;
}
.friend{
	background-color: #b1afa6;
	width: 100%;
	border-bottom: 1px solid grey;
	height: 50px;
}
#chat_section{
	display: none;
}
.send_message_btn{
	color: blue;
	background-color: white;
	padding: 4px;
	float: right;
	cursor: pointer;
}
#chat_header{
	color: white;
	background-color: #b1afa6;
	width: 100%;
	font: 20px;
	text-align: center;
	margin-top: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#chat_container{
	height: 240px;
	border: 2px solid black;
	margin-top: 5px;
	overflow-y: scroll;
}
#message_input_field{
	font-size: 14px;
	font-weight: 500;
	width: 300px;
	height: 40px;
	resize: none;
}
#message_send_btn{
	font-size: 14px;
	height: 40px;
	margin-bottom: 10px;
	float: right;
	text-align: center;

}
#message_input{
	margin-top: 5px;
}
.chat{
	list-style: none;
	margin: 0;
	padding: 0 0 50px 0;
}
.chat li {
	padding: 10px 8px 0 8px;
	overflow: hidden;
	display: flex;
}
.chat .day {
	position: relative;
	display: block;
	text-align: center;
	color: #c0c0c0;
	height: 20px;
	text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5, 4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5, -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5, -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5, -7px 0px 0px #e5e5e5;
	box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5, inset 0px -2px 0px #d7d7d7;
	line-height: 38px;
	margin-top: 5px;
	margin-bottom: 20px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.msg {
	background: white;
	min-width: 50px;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
	max-width: 250px;
}
.other .msg {
	order: 1;
	border-top-left-radius: 0px;
	box-shadow: -1px 2px 0px #D4D4D4;
}
.other:before {
	content: "";
	position: relative;
	top: 0px;
	right: 0px;
	left: 40px;
	width: 0px;
	height: 0px;
	border: 5px solid #fff;
	border-left-color: transparent;
	border-bottom-color: transparent;
}
.self {
	justify-content: flex-end;
	align-items: flex-end;
}
.self .msg {
	order: 1;
	border-bottom-right-radius: 0px;
	box-shadow: 1px 2px 0px #D4D4D4;
	background-color: #166678;
}
.msg pre {
	font-size: 0.8rem;
	font-family: sans-serif;
	margin: 0 0 0 0;
	color: #000;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.msg time {
	font-size: 0.6rem;
	color: #ccc;
	margin-top: 3px;
	float: right;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}