#header{
	background-color: #678eba;
	color: white;
	padding: 5px;
	width: 350px;
}
#title{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
#subtitle{
	text-align: right;
	font-size: 12px;
}
#homepage{
	height: 300px;
	text-align: center;
}

#homepage #signup_btn, #homepage #login_btn{
	color: white;
	background-color: #678eba;
	font-variant: small-caps;
	width: 250px;
	height: 50px;
	padding: 5px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}
#homepage #signup_btn{
	margin-top: 22%;
}
#homepage #login_btn{
	margin-top: 8%;
}

#footer{
	font-size: 12px;
	background-color: #544c51;
	color: white;
	text-align: center;
	padding: 3px;
}

#signup_page{
	display: none;
	height: 300px;
	text-align: center;
}
#signup_page #username, #signup_page #email, #signup_page #password, #signup_page #confirm_password, #signup_page #submit_signup_btn{
	font-size: 20px;
	width: 250px;
}
#signup_page #username{
	margin-top: 10%;
}
#signup_page #email, #signup_page #password, #signup_page #confirm_password, #signup_page #submit_signup_btn{
	margin-top: 3%;
}
#signup_page #submit_signup_btn{
	color: white;
	background-color: #678eba;
	font-variant: small-caps;
	padding: 5px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}

#login_page{
	display: none;
	height: 300px;
	text-align: center;
}
#login_page #email, #login_page #password, #login_page #submit_login_btn{
	font-size: 20px;
	width: 250px;
}
#login_page #email{
	margin-top: 20%;
}
#login_page #password, #login_page #submit_login_btn{
	margin-top: 3%;
}
#login_page #submit_login_btn{
	color: white;
	background-color: #678eba;
	font-variant: small-caps;
	padding: 5px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}
#error{
	color: red;
	font-size: 13px;
	text-align: center;
	margin-bottom: 20px;
}
#success{
	color: green;
	font-size: 13px;
	text-align: center;
	margin-bottom: 15px;
}

#main_page{
	display: none;
	height: 300px;
}
#navbar{
	background-color: #678eba;
	color: white;
	cursor: pointer;
	width: 350px;
	padding: 5px;
	height: 20px;
}
#upload_section_btn{
	float: left;
	cursor: pointer;
	text-align: center;
}
#friend_section_btn{
	float: right;
	cursor: pointer;
	text-align: center;
}
/*
change upload -> friend after development
*/
#upload_section{
	display: none;
}
#search_container{
	margin-top: 20px;
}
#add_friend_header{
	font-size: 15px;
}
#search_query{
	width: 250px;
	font-size: 15px;
}
#go_btn{
	width: 100px;
	font-size: 15px;
	cursor: pointer;
}
#friend_list_header{
	font-size: 16px;
	text-align: center;
	color: white;
	background-color: #544c51;
	width: 100%;
	height: 20px;
	padding: 1px;
	margin-top: 20px;
	font-weight: bolder;
}
#friend_list{
	width: 100%;
	border: 1px solid black;
	margin-top: 3px;
	height: 210px;
	overflow-y: auto;
}
#friend_email{
	float: left;
}
.friend_request_btn{
	color: red;
	float: right;
	padding: 5px;
	background-color: green;
	cursor: pointer;
}
.friend{
	background-color: #b1afa6;
	width: 100%;
	border-bottom: 1px solid grey;
	height: 50px;
}