#header{
	background-color: #678eba;
	color: white;
	padding: 5px;
	width: 350px;
}
#title{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
#subtitle{
	text-align: right;
	font-size: 12px;
}
#homepage{
	height: 300px;
	text-align: center;
}

#homepage #signup_btn, #homepage #login_btn{
	color: white;
	background-color: #678eba;
	font-variant: small-caps;
	width: 250px;
	height: 50px;
	padding: 5px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}
#homepage #signup_btn{
	margin-top: 22%;
}
#homepage #login_btn{
	margin-top: 8%;
}

#footer{
	font-size: 12px;
	background-color: #544c51;
	color: white;
	text-align: center;
	padding: 3px;
}

#signup_page{
	display: none;
	height: 300px;
	text-align: center;
}
#signup_page #username, #signup_page #email, #signup_page #password, #signup_page #confirm_password, #signup_page #submit_signup_btn{
	font-size: 20px;
	width: 250px;
}
#signup_page #username{
	margin-top: 10%;
}
#signup_page #email, #signup_page #password, #signup_page #confirm_password, #signup_page #submit_signup_btn{
	margin-top: 3%;
}
#signup_page #submit_signup_btn{
	color: white;
	background-color: #678eba;
	font-variant: small-caps;
	padding: 5px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}

#login_page{
	display: none;
	height: 300px;
	text-align: center;
}
#login_page #username, #login_page #password, #login_page #submit_login_btn{
	font-size: 20px;
	width: 250px;
}
#login_page #username{
	margin-top: 20%;
}
#login_page #password, #login_page #submit_login_btn{
	margin-top: 3%;
}
#login_page #submit_login_btn{
	color: white;
	background-color: #678eba;
	font-variant: small-caps;
	padding: 5px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}
